<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LibraryEntities" connectionString="metadata=res://*/library.csdl|res://*/library.ssdl|res://*/library.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Library;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>